.calendar body {
/*  display: flex;*/
  align-items: center;
  justify-content: center;
/*  flex-direction: column;/**/
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

.calendar table{
  width: 150%;
  max-width: 150rem;
  font-size: 16px;
}

.outlined {
  border: 1px solid blue;
}

.calendar table thead  th {
  background-color: #005581;/*1295d8;*/
  color: white;
  align-items: center;
  justify-content: center;
/*  flex-direction: column;/**/
  font-size: 16px;
  padding: 1rem 1rem;
  font-weight: bold;
  line-height: 1.4;
  border-spacing: 2em 0;
-webkit-text-stroke-width: 0.2px;
-webkit-text-stroke-color: black;

}


.calendar table tr:nth-child(even) th {
  color: #ccc;
  font-weight: normal;
}

.calendar table th,
table td {
  padding: .5rem 1rem;
}
.calendar table th, table td{
  font-weight: normal;
  border-top: thin dotted #9a9a9c;


}
.calendar table td {
  font-size: 16px;
  /*font-size: 1rem;*/
  font-weight: bold;
  line-height: 1.4;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
  margin: 5px;

}


.calendar table td > span {
  font-size: 14px;
  /*font-size: 1rem;*/
  font-weight: normal;
  display: block;
  width: 90%;
  margin: 5px;
}

.calendar table td a {
    color: #800080 ;
  }


.calendar table td a:hover {
    color: #665b20;
	}


.hands-on {
  background-color: #ff8f28;
}

.lecture {
  background-color: #ffe552;
}

.discussion {
  background-color: #1295d8;
}

.demo {
  background-color: #00a3ad;
}

.other {
  background-color: #72cdf4;
}

.tableFixHead {
  overflow-y: auto;
  height: 700px;
}
.tableFixHead thead th {
  position: sticky;
    top: 0;
}

.workshop-list a:hover {
    color: #665b20;
}

.workshop-list a {
    color: #800080;
    font-weight: bold;
}

.workshop-list {
  border: 1px solid black; 
  border-radius: 5px 5px 5px 5px;
  padding: 1rem 1rem;
  
}