<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How Do You &#128151; Your Data?</h2>
                </div>
            </div>
            <div class="row container">
                <p>UC Love Data Week is a week-long offering of presentations and workshops focused on data access, management, security, sharing, and preservation.  All members of the University of California community are welcome to attend. Make sure to register with your UC-campus email.
                </p>

                <div style="width:100%"><img style="width: 100%; height: 100%;" src="/assets/img/ldw-circuit-color_2022.png" width="auto"></div>
                <br>

                 <center><a href="#workshops" class="page-scroll btn btn-xl" style="word-break: normal;">Workshop <br>Information</a></center>
            </div>
        </div>
    </section>