<!-- Portfolio Grid Section -->
    <section id="workshops" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshops</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.data.yml_2021.workshops %}
                <div class="col-md-4 col-sm-6 speakers-item">
                    <div style="height:600px;">
                        <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
                            <div class="speakers-hover">
                                <div class="speakers-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <div style="display: table-cell; height:310px; vertical-align: middle;">
                            <img src="../assets/img/workshops/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.alt }}" width="300">
                        </div>
                        </a>
                        <div class="speakers-caption">
                            <h4>{{ post.title }}</h4>
                            {% for day in site.data.yml_2021.dates %}
                                {% if post.day == day.day-abbv %}
                                <p class="text-muted-dark"> {{day.day-full }}, {{ post.time }} </p><br><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>