 <!-- Portfolio Modals -->
 {% for post in site.data.yml_2022.workshops %}
    <div class="portfolio-modal modal fade" id="{{ post.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            {% if post.day | size > 1 %}
                                {% assign workshop_days = post.day | split: "," %}
                            {% else %}
                                {% assign workshop_days = post.day %}
                            {% endif %}
                            <p>
                            {%- for workshop_day in workshop_days -%}
                                {%- for day in site.data.yml_2022.dates -%}
                                    {%- if workshop_day == day.day-abbv -%}
                                    {{day.day-full }}
                                    {%- endif -%}
                                {%- endfor -%}
                                {%- if forloop.index != workshop_days.size -%}
                                &nbsp;-&nbsp;
                                {%- endif -%}
                            {%- endfor -%}, {{ post.time }} | <a href="{{ site.base.url }}/calendar">Calendar</a></p>
                           <hr class="star-primary">
                            <img src="../assets/img/workshops/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.speakers[0].name != "none" %}
                                <p>{{ post.speaker-type }}: {% for speaker in post.speakers %}
                                {{- speaker.name -}}
                                {% for campus in site.data.yml_2022.campuses %}
                                    {% if speaker.org == campus.abbv %}
                                        ({{campus.name}})
                                    {% endif %}
                                {% endfor %}
                                {% if forloop.index != post.speakers.size %}
                                -
                                {% endif %}
                                {% endfor %}
                                </p>
                            {% endif %}
                            <p>{{ post.description }}</p>
                            {% comment %}
                            The below blocks are for registration.  You can delete them, or leave it in.  The code will not display unless the appropriate fields are set in workshops.yml. 
                            {% endcomment %}
                            <h3>Event Registration Information</h3>
 
                            {% assign dates = site.data.yml_2022.dates %}
                            {% assign currentDate = 'now' | date: "%Y%m%d" | plus:0 %}
                                {% if currentDate >= dates.first.iso8601 and currentDate <= dates.last.iso8601 %}
                                    {% assign reg = true %}

                                    {% comment %}
                                    EVENTBRITE
                                    {% endcomment %}
                                    {% if post.eventbrite %}
                                        <iframe
                                          src="https://www.eventbrite.com/tickets-external?eid={{post.eventbrite}}&ref=etckt"
                                          frameborder="0"
                                          width="100%"
                                          height="280px"
                                          scrolling="auto">
                                        </iframe>
                                        {% assign reg = false %}
                                    {% endif %}
                                    
                                    {% comment %}
                                    ZOOM
                                    {% endcomment %}
                                    {% if post.zoom %}
                                        <iframe src="https://zoom.us/meeting/register/{{post.zoom}}" width="1000px" height="500px"></iframe>
                                        {% assign reg = false %}
                                    {% endif %}

                                    {% comment %}
                                        Register on website
                                    {% endcomment %}
                                    {% if post.registration-page %}
                                        <p>Click <a href="{{post.registration-page}}" target="_blank"  title="Link to Registration page" 
                                            onclick="getOutboundLink( {{post.registration-page}} ); return false;">here</a> to register. <br></p>
                                        {% assign reg = false %}
                                        {% elsif post.url  %}
                                        <p>Campus Event <a href="{{post.url}}" target="_blank" title="Link to campus event page" 
                                            onclick="getOutboundLink( {{post.url}} ); return false;">page</a>. <br></p>
                                        {% assign reg = false %}
                                    {% endif %}
                                    {% comment %}
                                    ICAL
                                    {% endcomment %}
                                    {% if post.ical %}
                                    <p>Add to Calendar using iCal.  <a class="btn btn-default" href="{{post.ical}}" title="Add to Calendar using iCal" id="s-lc-event-b-c"><i class="fa fa-calendar fa-lg"></i></a><br></p>
                                    {% endif %}
                                    
                                    {% if post.temp %}
                                    <p><i>{{post.temp}}</i> </p>
                                    {% elsif reg  %}
                                    <p>Registration information coming soon!</p>
                                    {% endif %} 
                                {% else %} <!-- -->
                                    <p>This is a past event.  Registration is closed</p>
                                 {% endif %} <!-- -->


<!--                            {% comment %}
                            The below blocks are for slides and recordings.  You can delete them, or leave it in.  The code will not display unless the appropriate fields are set in workshops.yml. 
                            {% endcomment %}
                            {% if post.slides or post.reader %}
                                <p>Workshop Materials: 
                                {% if post.slides %}
                                    <a href="{{post.slides}}" target="_blank" title="Link to workshop slides" onclick="getOutboundLink( {{post.slides}} ); return false;">Slides</a>
                                {% endif %}
                                {% if post.slides and post.reader %}
                                - 
                                {% endif %}
                                {% if post.reader %}
                                    <a href="{{post.reader}}" target="_blank" title="Link to workshop reader" onclick="getOutboundLink( {{post.reader}} ); return false;">Reader</a>
                                {% endif %}
                                </p>
                            {% endif %}
                            {% if post.recording %}
                            <p>Session Recording<br>
                            <iframe id="playerid_{{ post.name }}" src="{{post.recording}}?enablejsapi=1" width="100%" height="400"></iframe>
                            </p>
                            {% endif %}

                            <p onclick="stopVideo('#playerid_{{ post.name }}');">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ><i class="fa fa-times"></i> Close</button>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
