<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Campus Contacts</h2>
                    <h3 class="section-subheading text-muted">Do you want to know more about how to take care of your research data?  </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-muted">UCB</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCD</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCI</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCLA</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCM</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCR</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCSC</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCSB</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCSD</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">UCSF</p>
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted">CDL</p>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </section>