<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshop Info Coming Soon</h2>
                 <p><center>In the meantime, check out the recordings, slides, and other materials from previous years' events on our <a href="2026/search" title="Search">search</a> page.</center></p>
                </div>
            </div>
        </div>
    </section>
