<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UC Love Data Week<br></div>
                <div class="intro-lead-in">February 8 - 12, 2021</div>
                <!-- div class="intro-lead-in">Location</div -->
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2021_data/intro.html %}
    {% include 2021_data/workshops.html %}
    {% include 2021_data/about.html %}
    {% include 2021_data/sponsors.html %}
    {% include 2021_data/contact.html %}
    {% include 2021_data/footer.html %}
    {% include 2021_data/workshop_speakers_info.html %}
    {% include 2021_data/js.html %}

    </body>
</html>