<!DOCTYPE html>
<html>

  {% include 2022_includes/head.html %}


    <body id="page-top" class="index">

    {% include 2023_includes/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">UC Love Data Week<br></div>
                <div class="intro-lead-in">February 14 - 18, 2022</div>
                <!-- div class="intro-lead-in">Location</div -->
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2022_includes/intro.html %}
    {% include 2022_includes/workshops_test.html %}
    {% include 2022_includes/sponsors.html %}
    {% include 2022_includes/contact.html %}
    {% include 2022_includes/footer.html %}
    {% include 2022_includes/workshops_info.html %}
    {% include 2022_includes/js.html %}

    </body>
</html>
