<!DOCTYPE html>
<html>

  {% include 2023_includes/head.html %}


    <body id="page-top" class="index">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8HVZ7G"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->


    {% include 2023_includes/header-home.html %}

    <!-- Header section removed 2022-11-30 -->

  <!-- Do not include workshop info in dev page -->
   {% include 2023_includes/intro.html %}

  <div class="container">
      <div class="calendar visible-md visible-lg">
        {% include 2023_includes/calendar.html %}
      </div>
  </div>
      
  <div class="container">
      <div class="calendar visible-sm visible-xs">
        {% include 2023_includes/workshops-list.html %}
      </div>
  </div>
   {% include 2023_includes/workshops.html %}
   {% include 2023_includes/sponsors.html %}
   {% include 2023_includes/contact.html %}
   {% include 2023_includes/footer.html %}
   {% include 2023_includes/workshops_info.html %}
   {% include 2023_includes/js.html %}

    </body>
</html>
