<!DOCTYPE html>
<html>

  {% include 2024_includes/head.html %}


    <body id="page-top" class="index">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8HVZ7G"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->


    {% include 2024_includes/header-home.html %}

  <!-- Do not include workshop info in dev page -->
   {% include 2024_includes/intro.html %}
   {% include 2024_includes/interim.html %}
   {% include 2024_includes/sponsors.html %}
   {% include 2024_includes/contact.html %}
   {% include 2024_includes/footer.html %}
   {% include 2024_includes/js.html %}

    </body>
</html>
