<!DOCTYPE html>
<html>

  <style type="text/css">
    /*INCLUDE MAIN CSS FILE*/
    {% capture criticalcss %}
      {% include /2016_css/critical.scss %}
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>

  {% include /2016_data/js.html %}
  {% include /2026_includes/head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8HVZ7G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include /2026_includes/header.html %}
        {{ content }}
  </body>
  {% include /2026_includes/footer.html %}
</html>
