<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acknowledgements</h2>
                </div>
                <p>UC Love Data Week is made possible by the collaborative effort of librarians and staff across the University of California system.</p>
    
    <p>We would like to thank the campus contacts for each year, for their work on developing presentations, wrangling presenters, ensuring consistent communication, and otherwise making this event a truly cross-campus experience.</p>
    
    <p>We would also like to extend our gratitude to the various library communication and events folks who worked tirelessly to set up and handle registration and recordings of these events.</p>
    
    <p>Many thanks to Erinna Lin (UC San Diego student), who designed the UC Love Data Week circuit heart logo, and Zhilin Li (UC San Diego student) for providing logo updates. Thanks also to Lauren Reyes (UC San Diego student) for designing the flyer template used for event promotion and some of the visual elements used on UC Love Data Week presentation title slides.</p>
    
    <p>The website has grown over time thanks to the efforts of the (self-taught!) internal web team, with membership changing each year. The <a href="https://github.com/uc-love-data-week/uc-love-data-week.github.io">website code is available on GitHub</a>; please open an issue if you notice any errors, or have suggestions for improvement.</p>
    
    <p>Finally, we greatly appreciate the tireless enthusiasm and organizational expertise of our UC Love Data Week chairs:</p>
    <ul>
        <li>2025: Emily Atkinson (UC Davis) & Beth Tweedy (UC Davis)</li>
        <li>2024: Leigh Phan (UCLA) & Erin Foster (UC Berkeley)</li>
        <li>2023: Ariel Deardorff (UC San Francisco)</li>
        <li>2022: Stephanie Labou (UC San Diego)</li>
        <li>2021: Stephanie Labou (UC San Diego)</li>
    </ul>
            </div>
        </div>
    </section>


