<!-- CoC Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">UC Love Data Week Code of Conduct</h2>
                </div>
                <p>We are dedicated to providing a welcoming and supportive environment for all people, regardless of background or identity. By participating in this community, participants accept to abide by the UC Love Data Week (UCLDW) Code of Conduct and accept the procedures by which any Code of Conduct incidents are resolved. Any form of behavior to exclude, intimidate, or cause discomfort is a violation of the Code of Conduct. In order to foster a positive and professional learning environment we encourage the following kinds of behaviors in all platforms and events:</p>

                <ul>
                  <li>Use welcoming and inclusive language</li>
                  <li>Be respectful of different viewpoints and experiences</li>
                  <li>Gracefully accept constructive criticism</li>
                  <li>Focus on what is best for the community</li>
                  <li>Show courtesy and respect towards other community members</li>
                </ul>

                <p>If you believe someone is violating the Code of Conduct, we ask that you report it to the instructor/helper in your session or to the UCLDW email address (<b>uclovedataweek@gmail.com</b>)</p>

                <h2>Code of Conduct</h2>

                <h3>Part 1. Introduction</h3>

                <p>UCLDW is a community-led project. We value the involvement of everyone in the community. We are committed to creating a friendly and respectful place for learning, teaching and contributing. All participants in our events and communications are expected to show respect and courtesy to others.</p>

                <p>To make clear what is expected, everyone participating in UCLDW activities is required to conform to the Code of Conduct. This Code of Conduct applies to all spaces managed by UCLDW including, but not limited to, workshops, email lists, and online forums and social media such as GitHub, Slack, X/Twitter, Facebook, etc.. Workshop hosts are expected to assist with the enforcement of the Code of Conduct.</p>

                <p>The UCLDW Co-Chairs are responsible for enforcing the Code of Conduct. They can be contacted at uclovedataweek@gmail.com. All reports will be reviewed by the UCLDW Co-Chairs on a case-by-case basis.</p>

                <h3>Part 2. The UCLDW Code of Conduct</h3>

                <p>UCLDW is dedicated to providing a welcoming and supportive environment for all people, regardless of background or identity. As such, we do not tolerate behavior that is disrespectful to our teachers or learners, or that excludes, intimidates, or causes discomfort to others. We do not tolerate discrimination or harassment based on characteristics that include, but are not limited to, gender identity and expression, sexual orientation, disability, physical appearance, body size, citizenship, nationality, ethnic or social origin, pregnancy, familial status, veteran status, genetic information, religion or belief (or lack thereof), membership of a national minority, property, age, education, socio-economic status, technical choices, and experience level.</p>

                <p>Everyone who participates in UCLDW activities is required to conform to this Code of Conduct. It applies to all spaces managed by UCLDW including, but not limited to, workshops, email lists, and online forums such as GitHub, Slack and X/Twitter. Workshop hosts are expected to assist with the enforcement of the Code of Conduct. By participating, participants indicate their acceptance of the procedures by which UCLDW resolves any Code of Conduct incidents, which may include storage and processing of their personal information.</p>

                <h3>Part 2.1 Expected behavior</h3>

                <p>All participants in our events and communications are expected to show respect and courtesy to others. All interactions should be professional regardless of platform: either online or in-person. In order to foster a positive and professional learning environment we encourage the following kinds of behaviors in all UCLDW events and platforms:</p>

                <ul>
                  <li>Use welcoming and inclusive language</li>
                  <li>Be respectful of different viewpoints and experiences</li>
                  <li>Gracefully accept constructive criticism</li>
                  <li>Focus on what is best for the community</li>
                  <li>Show courtesy and respect towards other community members</li>
                </ul>

                <h3>Part 2.2 Unacceptable behavior</h3>

                <p>Examples of unacceptable behavior by participants at any UCLDW event/platform include:</p>

                <ul>
                  <li>written or verbal comments which have the effect of excluding people on the basis of membership of any specific group</li>
                  <li>causing someone to fear for their safety, such as through stalking, following, or intimidation</li>
                  <li>violent threats or language directed against another person</li>
                  <li>the display of sexual or violent images</li>
                  <li>unwelcome sexual attention</li>
                  <li>nonconsensual or unwelcome physical contact</li>
                  <li>sustained disruption of talks, events, or communications</li>
                  <li>insults or put downs</li>
                  <li>sexist, racist, homophobic, transphobic, ableist, or exclusionary jokes</li>
                  <li>excessive swearing</li>
                  <li>incitement to violence, suicide, or self-harm</li>
                  <li>continuing to initiate interaction (including photography or recording) with someone after being asked to stop</li>
                  <li>publication of private communication without consent</li>
                </ul>

                <h3>Part 2.3 Consequences of Unacceptable Behavior</h3>

                <p>Participants who are asked to stop any inappropriate behavior are expected to comply immediately. This applies to any UCLDW events and platforms, either online or in-person. If a participant engages in behavior that violates this code of conduct, the organizers may warn the offender, ask them to leave the event or platform, or engage the UCLDW Co-Chairs (uclovedataweek@gmail.com) to investigate the Code of Conduct violation and impose appropriate sanctions.</p>

                <h3>Part 2.4 Reporting Unacceptable Behavior</h3>

                <p>During an active workshop, participants may report violations of the code of conduct to the session helper and/or the session instructor who will take appropriate actions to remedy the breach during the session.</p>

                <p>If you are unsatisfied with the actions taken during the session and/or you wish to report a breach after the session has concluded you may do so by contacting the UCLDW Co-Chairs at uclovedataweek@gmail.com. They will coordinate with other UCLDW leadership and appropriate resources on the campus of the hosting institution as appropriate.</p>

                <p>This code of conduct was adapted from <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html#code-of-conduct-detailed-view">The Carpentries Code of Conduct.</a></p>

                

            </div>
        </div>
    </section>
